<!DOCTYPE HTML>
<head>
<title> WELCOME {{username}} </title>
</style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<style>
fieldset {
    background-color:  #fff;
    border:  1px solid #ccc;
    float:center;
    padding:  1em;
    border-radius: 5px;
}
#formset{
	height:500px;
	width:500px;
	padding-left: 5cm;
	}
#s{
	background-color:green;
	color:white;
}
</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="navbar-header">
                       <img style="color:red;" id="logo" class="navbar-brand" alt="AVISO" src="/static/logo-aviso.svg" /> 
            </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
		<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
                <li><a id="s" href=#addingpage class="btn btn-success active">ADD CONTEST </a></li>
            </ul>
        <!-- Collection of nav links and other content for toggling 
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
		-->
            
	</div>
</nav>




<br>
<br>
<br>
	<table> 
	{% for data in database %}
	<tr>
		<td>{{data.contestname}}</td>
		<td>{{data.customer}}</td>
		<td>{{data.date}}</td>
		<td>{{data.status}}</td>
		<td><button onclick="#">Delete</button></td>
	</tr>
       {% endfor %}
	</table>




<br>
<br>
<br>

<a name="addingpage"></a> 

<div id="formset">

<fieldset>
	
    <form>

        <div class="form-group">

            <label for="inputName">Name:</label>

            <input type="name" class="form-control" id="inputName" placeholder="Enter Name">

        </div>

        <div class="form-group">

            <label for="inputCustomer">customer</label>

            <input type="name" class="form-control" id="inputCustomer" placeholder="Enter Company Name">

        </div>
	<div class="form-group">
		<label for="inputDate">Date</label>

            <input type="name" class="form-control" id="inputDate" placeholder="Enter Date of Contest">

        </div>
        <div class="form-group">
		<label for="Policies">Policies/Terms and Conditions</label>
		<textarea class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label for="ApprovalRule">ApprovalRule</label>
		<select class="form-control" id="ApproverRule">
  			<option value="Auto_Approve">Auto Approve</option>
  			<option value="Only_One">Only One</option>
  			<option value="All_Approve">All Approve</option>
  
		</select>
	</div>
        <button type="submit" class="btn btn-primary">Save</button>&nbsp&nbsp&nbsp&nbsp<button type="reset" class="btn btn-primary" value="Reset">Reset</button>

    </form>


</fieldset>

</div>


