
description "Test Server deamon"
env PYTHONPATH=../testcoordinator
start on runlevel [235]
stop on runlevel [016]
respawn

script
    cd $GITSERVER_ROOT/testserver
    python tasks.py >> /var/log/testserver-tasks.log 2>&1
    celery -A tasks worker --queue=${CONTEST_NAME}_testing & >> /var/log/testing-queue.log 2>&1
end script
