description "Test server upstart script"
chdir /opt/autotest/testserver
start on runlevel [235]
stop on runlevel [016]
respawn

script
    . ./env.sh
    python project.py >> /var/log/testserver.log 2>&1
end script
