description "Test server upstart script"
chdir /opt/autotest/testserver
start on runlevel [235]
stop on runlevel [016]
respawn

env PROGRAM_DIR=/opt/autotest/programs
env PARTICIPANT_DIR=/opt/autotest/participants
env GIT_HOST=__GIT_HOST__:8080
env MAIL_DIR=/opt/autotest/mails

script
    python project.py
end script
