<!DOCTYPE HTML>
<html>
<head>
<title>User Homes</title>
		<script src="/static/vue.js"></script>
        <script src="/static/jquery.js"></script>
        <script src="/static/functionalities.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation" id="navigation">
            <div class="container-fluid" style="padding:0px 20px;">
                <div class="navbar-header">
                        <img id="logo" class="navbar-brand" alt="Brand" src="/static/logo-aviso.svg">
                       <a class="navbar-brand" href="#" style="color:white;"><b>{{cname}}</b></a>
                </div>                                 
                   <div class="navbar-header navbar-right">
                    <form class="regform" method ="get" action="loginform">
                     <button style="background-color:#009afd;color:#FFFFFF" class="btn active navbar-btn logout-btn">
                       <!--  <a href="loginform.html" style="text-decoration:none;color:#FFFFFF"> -->Logout 
      				   <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span>  </a>
                     </button>
                   </form>
                </div>
                <div class="navbar-header navbar-right">
                        <a class="navbar-brand" href="#">He!!o&nbsp;&nbsp;
                       <b style="color:white;">{{username}}<span class="glyphicon glyphicon-user" aria-hidden="true"> </span></b>  
                        </a>                        
                       {% block navbar %}
                       
                       {% endblock %}
                      
                </div>
         </div>
	</nav>
	{% block content %}
	{% endblock %}
	<div class="container">
     	   <hr />
     	      <div class='footer'>
		  <div class='content'>
			  &copy; 2014-2015, Aviso Inc. All Rights Reserved.
		  </div>
	      </div>
    	</div>
</body>
</html>
	
