<html>
<head></head>
<style type="text/css">
#content{
padding-left:30%;
width:50%;
}
</style>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="navbar-header">
                       <img style="color:red;" id="logo" class="navbar-brand" alt="AVISO" src="/static/logo-aviso.svg" /> 
            </div>
</nav>

<div id="content">
  <div class="form-group">
<fieldset>
<legend align="right">Welcome To Tech Contest</legend>
<form method="get" action="registration"> 
<img style="color:red;" id="logo" alt="AVISO" src="/static/logo-aviso.svg">
<br/>
<br/>

<input class="btn btn-success" type="submit" value="Register" />
</form> 
<br/>
<form method="get" action="loginform">
Already Registerd &nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Login" />
</form>
</fieldset>
</div>
</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
