{% extends "basemain.html" %}
{% block content %}
    <div class="container" id="main-container">
        <div class="page" id="homePage">
           <h3>Login To The Tech Contest . . . .</h3><hr/>
                <div class="form-group" align="center" style="width:70%;padding-left:30%">
                    <form class="regiForm form-horizontal" method="post" action="loginvalidate">
                     {% csrf_token %}
                      <div class="form-group">
                        <select name="contestname1" id="contestname1" class="form-control" >
                            <option value="select" selected>Select ContestName</option>
                            {% for c in cname %}
                            <option value={{c.contestname}}>{{c.contestname}}</option>
                            {% endfor %}
                        </select>
                       <br/>
                        <select name="usertype" id="usertype" class="form-control" >
                            <option value="select">Select User Type</option>
                            <option value="contestant">Contestant</option>
                            <option value="testadmin">Test Admin</option>
                            <option value="testcreator">Test Creator</option>
                            <option value="participantapprover">Participant Approver</option>
                        </select>
                       <br/>
                        <label for="inputEmail3" class="col-sm-2 control-label">UserName</label> 
                        <div class="col-sm-10">
                          <input name="username1" type="text" class="form-control" id="username1" placeholder="Username">
                        </div>
                      <br/>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input name="password1" type="password" class="form-control" id="password1" placeholder="Password" required="yes">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember me
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default" name="submit" onClick="validateForm()"  >Log in</button>&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="reset" class="btn btn-default">Cancel</button>
                        </div>
                      </div>
                    </form>
                </div>
		</div>
	</div>
{% endblock %}