<html>
<head>
<title>Multistep Registration Form- Demo Preview</title>
<meta name="robots" content="noindex, nofollow" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<script src="/static/regjs.js"></script>
<style>
#content1{
padding-top:0;
padding-left:10%;
width:50%;
}
#rf{
padding-top:0px;
}
</style>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="navbar-header">
                       <img style="color:red;" id="logo" class="navbar-brand" alt="AVISO" src="/static/logo-aviso.svg" /> 
            </div>
</nav>

<div class="content" id="content1">
<!-- multistep form -->
<div  class="main">
<form class="regform" action="regisuccess" method ="get">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">1-->Basic Details</li>
		<li>2-->Additional Questions</li>
		<li>3-->Finish</li>
	</ul>
	
	<!-- fieldsets -->
	<fieldset id="first">
		<h2 class="title">Create your account</h2>
		<p class="subtitle" style="color:red">Step 1</p>
		<select name="contestname" id="contestname" class="form-control" >
		<option value="select">Select ContestName</option>
		<option value="vr">vr</option>
		<option value="pvp">pvp</option>
		</select>	
		<input type="text" class="text_field" name="name" placeholder="Enter Name" /><br/>
		<input type="text" class="text_field" name="email" placeholder="Email" /><br/>
		<input type="text" class="text_field" name="username" placeholder="Username" /><br/>
		<input type="password" class="text_field" name="pass" placeholder="Password" /><br/>
		<input type="password" class="text_field" name="cpass" placeholder="Confirm Password" /><br/>
		<input type="button" name="next" class="next_btn" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="title">Additional Questions</h2>
		<p class="subtitle" style="color:red">Step 2</p>
		<label>Skills</label><br/>
		<input name="Skills" class = "rad" type="checkbox" value="python"/>Python<br/>
		<input name="Skills" class = "rad" type="checkbox" value="java" />Java<br/>
		<input type="button" name="previous" class="pre_btn" value="Previous" />
		<input type="button" name="next" class="next_btn" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="title">Terms and conditions</h2>
		<p class="subtitle" style="color:red">Step 3</p>
		<p><strong align="left">Instructions to students:</strong><br>

<ul style="type:number">
<li>clone the questions repository to your system by using the git clone command<br/><br/></li>
<li>after successfull execution of the program push the results to git repository using git push and commit commands<br/><br/></li>
<li>see your results in tne scoreboard dropdown menu<br/><br/></li>
<li>see your number of submission details in the submission tab from results dropdown menu<br/><br/></li>
<li>see the leader board for the top scorers</p></li>
</ul>
		
		<br/>
		<input name="tnc" class = "rad" type="checkbox" checked="checked"/>I agree the Terms & Conditions<br/>
		<input type="button" class="pre_btn" value="Previous" />
		<input type="submit" class="submit_btn" value="Finish" />
	</fieldset>
</form>
</div>


