{% extends "basemain.html" %}
{% block content %}
     <link rel="stylesheet" type="text/css" href="../static/style.css"/>
	 
    <div class="container" id="main-container">
        <div class="page" id="homePage">
                <h3>Welcome To Register The Tech Contest . . . .</h3><br/>
                <div class="content">
                    <form class="regform" method ="post" action="regisuccess">
                       {% csrf_token %}
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">1-->Basic Details</li>
                            <li>2-->Additional Questions</li>
                            <li>3-->Finish</li>
                        </ul>
                        
                        <!-- fieldsets -->
                        <fieldset id="first">
                            <h2 class="title">Basic Details</h2>
                            <p class="subtitle" style="color:red">Step 1</p>
                            <select name="contestname" id="contestname" class="form-control" >
			    			<option value="select" selected>Select ContestName</option>
                            {% for c in cname %} :
                            <option value={{c.contestname}}>{{c.contestname}}</option>
                            {% endfor %}
                            </select>	
                            <input type="text" class="text_field" id="name" name="name" placeholder="Enter Name" /><br/>
                            <input type="text" class="text_field" id="email" name="email" placeholder="Email" /><br/>
                            <input type="text" class="text_field" id="username" name="username" placeholder="Username" />
                            <br/>
                            <input type="password" class="text_field" id="pass" name="pass" placeholder="Password" /><br/>
                            <input type="password" class="text_field" id="cpass" name="cpass" placeholder="Confirm Password" /><br/>
                            <input type="button" name="next" class="next_btn" value="Next" />
                        </fieldset>
                        <fieldset  id="second">
                            <h2 class="title">Additional Questions</h2>
                            <p class="subtitle" style="color:red">Step 2</p><br/><br/>
                            <b><p align="center">No Additional Questions For Now<br/>Please Proceed To Next Step</p></b><br/><br/>
                            <input type="button" name="previous" class="pre_btn" value="Previous" />
                            <input type="button" name="next" class="next_btn" value="Next" />
                        </fieldset>
                        <fieldset id="third">
                            <h2 class="title">Terms and conditions</h2>
                            <p class="subtitle" style="color:red">Step 3</p>
                            <p><strong align="left">Instructions to students:</strong><br>
                    
                    <ul style="type:number">
                    <li>clone the questions repository to your system by using the git clone command<br/><br/></li>
                    <li>after successfull execution of the program push the results to git repository using git push and commit commands<br/><br/></li>
                    <li>see your results in tne scoreboard dropdown menu<br/><br/></li>
                    <li>see your number of submission details in the submission tab from results dropdown menu<br/><br/></li>
                    <li>see the leader board for the top scorers</p></li>
                    </ul>
                            
                            <br/>
                            <input name="tnc" class = "rad" type="checkbox" checked="checked"/>I agree the Terms & Conditions<br/>
                            <input type="button" class="pre_btn" value="Previous" />
                            <input type="submit" class="submit_btn" value="Finish" />
                        </fieldset>
                    </form>
                  </div>
          </div>
	</div>
{% endblock %}