{% extends "basemain.html" %}

{%block navbar%}
         <button type="button" class="btn btn-success navbar-btn active navbar-right" onClick="add()">
              <a href="#addingpage" v-on="click: addingpage" style="text-decoration:none;color:#FFFFFF"> Add Contest 
             <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span></a>
         </button>
        <div class="navbar-header navbar-right">
           <a class="navbar-brand navbar-right" href="#">Hello <b style="color:white;">Super User !!&nbsp;&nbsp;
			<span class="glyphicon glyphicon-user" aria-hidden="true"> </span></b>&nbsp;&nbsp;&nbsp;&nbsp;
           </a>
        </div>   
{%endblock%}

{% block content %}

<style>
fieldset{
	width:70%;
}
#formset{
	width:70%;
	padding-left:20%;
}
</style>
	<div class="container" id="main-container">
            <div class="page" id="homePage">
				<div class="row"><h3>Available Contests ::</h3>
                 	<table class="table table-hover table-bordered">
                       <tr class="info">
                                <th>Contest Name</th>
                                <th>Organisation</th>
                                <th>Date Of The Contest</th>
                                <th>Current Status</th>
                                <th>Delete Contest</th>
                       </tr>
			{% for c in contests %}
			<tr> 
			<td>{{c.contestname}}</td>
			<td>{{c.organisation}}</td>
                            <td>{{c.date}}</td>
                            <td>{{c.status}}</td>
                             <td>
                              <form method="post" action="deleteContest">
                               {% csrf_token %}
                                <button class="btn btn-danger btn-sm" name="cname" value={{c.contestname}}>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                 Delete 
                                </button>
                              </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
		</div>
            </div>
            <div class="page" id="addingpage" style="visibility:hidden"><a name="addingpage"></a>
                 <div id="formset">
                   <form method="post" action="addContest">
                   {% csrf_token %}
                    <fieldset><legend align="right">Contest Details</legend>
                        <label for="inputName">Name:</label>
                        <input type="name" id="contest" class="form-control" name="contestname" placeholder="Enter Name" />
                        <br/>
                        <label for="inputCustomer">Organisation:</label>
                        <input type="name" class="form-control" name="organisation" placeholder="Enter Company Name" />
                        <br/>
                        <label for="inputDate">Date:</label>
                        <input type="date" class="form-control" name="date" placeholder="Enter Date of Contest" />
                        <input type="name" id="state" name="status" value="Not Started" style="visibility:hidden" />
                        <br/>
                        <label for="Policies">Policies/Terms and Conditions:</label>
                        <textarea class="form-control" rows="3" name="tnc" ></textarea>
                        <br/>
                        <label for="ApprovalRule">ApprovalRule:</label>
                            <select class="form-control" name="approverrule" >
                                <option value="0" default>Auto Approve</option>
                                <option value="1">Any One</option>
                                <option value="2">All Approve</option>
                            </select>
                       <br/>
                       <hr/>
                       <b>Test Admin-1</b>
                       		<input type="name" class="form-control" name="ta1un" placeholder="User Name" />
                            <input type="password" class="form-control" name="ta1pswd" placeholder="Password" />
                            <input type="email" class="form-control" name="ta1email" placeholder="Email" />
                       <br/>
                       <b>Test Admin-2</b>
                       		<input type="name" class="form-control" name="ta2un" placeholder="User Name" />
                            <input type="password" class="form-control" name="ta2pswd" placeholder="Password" />
                            <input type="email" class="form-control" name="ta2email" placeholder="Email" />
                        <br/>
                        <hr/>
                       <b>Test Creator</b>
                       		<input type="name" class="form-control" name="tc1un" placeholder="User Name" />
                            <input type="password" class="form-control" name="tc1pswd" placeholder="Password" />
                            <input type="email" class="form-control" name="tc1email" placeholder="Email" />
                       <br/>
                       <hr/>
                       <b>Participant Approver-1</b>
                       		<input type="name" class="form-control" name="pa1un" placeholder="User Name" />
                            <input type="password" class="form-control" name="pa1pswd" placeholder="Password" />
                            <input type="email" class="form-control" name="pa1email" placeholder="Email" />
                       <br/>                      
                       <b>Participant Approver-2</b>
                       		<input type="name" class="form-control" name="pa2un" placeholder="User Name" />
                            <input type="password" class="form-control" name="pa2pswd" placeholder="Password" -/>
                            <input type="email" class="form-control" name="pa2email" placeholder="Email" />
                       <br/>
                       <hr/>
                       <input type="submit" class="btn btn-primary" value="Save" />&nbsp&nbsp&nbsp&nbsp
                       <input type="reset" class="btn btn-primary" value="Reset" />
                </fieldset>
               </form>
            </div>
		</div>
	</div>
{% endblock %}


