<!DOCTYPE HTML>
<html>
<head>
<title>Test Admin</title>
		<script src="/static/vue.js"></script>
        <script src="/static/jquery.js"></script>
        <script src="/static/main.js?r=34"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
    function funStart() {
        document.getElementById("start").disabled = true;
        document.getElementById("stop").disabled = false;
    }
    function funStop() {
        document.getElementById("stop").disabled = true;
        document.getElementById("start").disabled = false;
    }
    </script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation" id="navigation">
            <div class="container-fluid" style="padding:0px 20px;">
                <div class="navbar-header">
                        <img id="logo" class="navbar-brand" alt="Brand" src="/static/logo-aviso.svg">
                        <a class="navbar-brand" href="#">{{Tech Contest}}</a>
                </div>
      					 <form class="navbar-form navbar-right">
                                 <button onclick="funStart()" id="start" class="btn btn-success btn-active">
                                 	<a href="#addingpage" style="text-decoration:none;color:#FFFFFF">Start
                                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"> </span></a></button>&nbsp;&nbsp;
								 <button onclick="funStop()" id="stop" class="btn btn-danger btn-active" disabled>
                                 	<a href="#addingpage" style="text-decoration:none;color:#FFFFFF">Stop
                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"> </span></a></button>&nbsp;&nbsp;
      						     <button style="background-color:#009afd;color:#FFFFFF" class="btn active" >
                                    <a href="loginform.html" style="text-decoration:none;color:#FFFFFF">Logout 
      							    <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span>  </a>
                                 </button>
      					</form>
                        <div class="navbar-header navbar-right">
                      		 <a class="navbar-brand navbar-right" href="#">He!!o&nbsp;&nbsp;
                     		 {{username}}<span class="glyphicon glyphicon-user" aria-hidden="true"> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      		 </a>
                       </div>
            
	</nav>
    
	<div class="container" id="main-container">
        <div class="page" id="homePage">
			<h2>Leaderboard</h2>
               <div id="leaderboard">
                     <div class="nav navbar navbar-default">
                        <p class="navbar-text">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></p>
                        <form class="navbar-form navbar-left">
                            <div class="form-group col-md-8">
                                <input type="text" class="form-control" placeholder="Username"  v-model="searchText" />
                            </div>
                        </form>
                     </div>
                        <table class="table table-hover table-bordered">
                            <tr>
                            	<th>User Name</th>
                                <th>Name</th>
                                <th>Nor Of Programs Done</th>
                                <th>Nor Of Submissions Made</th>
                                <th>Cheater Indications</th>
                                <th>Score</th>
                                <th>Rank</th>
                                <th>Action</th>
                            </tr>
                            <tr v-repeat="users | filterBy searchText in user_name | orderBy 'total' -1">
                                <td v-text="username"></td>
                                <td v-text="username.score"></td>  
                                <td v-text="$index+1"></td>
                                <td v-text="$index+1"></td>
                                <td v-text="$index+1"></td>
                                <td v-text="$index+1"></td>
                                <td v-text="$index+1"></td>
                                <td align="center">
                                <form method="post" action="#deletingfunction">
                                    <button class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                    </button>
                                </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
		</div>
	</div>
</body>
</html>
