{% extends "base.html" %}

{%block navbar%}
      <div class="navbar-header">
      		{% if git_address %}
      			<button onclick="testStop()" id="stop" class="btn btn-danger btn-active navbar-btn nav-right nav-brand">
				 Stop <span class="glyphicon glyphicon-stop" aria-hidden="true"> </span> 
				 </button>&nbsp;&nbsp;
   			{% else %}
   				 <button id="start" class="btn btn-success active navbar-btn nav-right nav-brand">
  				 Start  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"> </span> 
   				</button>&nbsp;&nbsp;           
		    {% endif %}    
       </div>
     
{%endblock%}

{% block content %}
    <script>
          contest_name = '{{cname}}'
    </script>
	<div class="container" id="main-container">
	<div class="alert alert-success" id="output">
    {% if git_address %}
	<b>Contest Started with address --> <u> {{git_address}} </u> </b>
    {% endif %}
	</div>
        <div class="page" id="homePage">
			<h2>Leaderboard</h2>
               <div id="leaderboard">
                     <div class="nav navbar navbar-default">
                        <p class="navbar-text">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></p>
                        <form class="navbar-form navbar-left">
                            <div class="form-group col-md-8">
                                <input type="text" id="search" class="form-control" placeholder="Username"  v-model="searchText" />
                            </div>
                        </form>
                     </div>
                        <table class="table table-hover table-bordered">
                            <tr class="info">
                            	<th>User Name</th>
                                <th>Number Of Programs Done</th>
                                <th>Number Of Submissions Made</th>
                             <!--   <th>Cheater Indications</th>	-->
                                <th>Score</th>
                           <!--     <th>Rank</th>	-->
                                <th>Action</th>
                            </tr>
			     {% for s in scores %}
                            <tr> 
                                <td>{{s.username}}</td>
                                <td>{{s.programs}}</td>                                 
                                <td>{{s.submissions}}</td>
                             <!--   <td></td>	-->
                                <td>{{s.total}}</td>
                           <!--     <td></td>	-->
                                <td align="center">
                                <form method="post" action="deactivateuser">
                                {% csrf_token %} 
                                   <input type="name" id="name" name="name" style="display:none;" value={{l.contestantname}} />
                                    <button class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                    </button>
                                </form>
                                </td>
                            </tr>
			{% endfor %}  
                        </table>
                    </div>
                </div>
		</div>
	</div>
{% endblock %}
