description "New Repository  Deamon Upstart Script"
start on runlevel [235]
stop on runlevel [016]
respawn

script
    cd $GITSERVER_ROOT/gitserver
    python new_repod.py >> /var/log/gitserver.log 2>&1
end script
